.motto,
.main-menu {
  display: none;
}

.logo-menu {
  position: fixed;
  height: 70px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 98;
  transition: height .4s ease;
  
  > img {
    order: 1;
    height: 40px;
    transition: height .4s ease;
  }
  
  > .button-open {
    font-size: 30px;
    color: $greenish;
  }
  
  .sticky & { 
    height: 55px; 
    border-bottom: 1px solid $gray4;
    
    > img { height: 30px; } 
  }
}

.nav-social {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  min-width: 240px;
  height: 200%;
  z-index: 100;
  padding: 0 15px;
  background-color: white;
  border-right: 1px solid $gray4;
  transform: translateX(-100%);
  transition: transform .4s ease;
  
  > .button-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: $greenish;
  }
  
  .drawer-open & { transform: translateX(0); }
}

.nav-menu {
  margin: 40px 0 20px;
  padding: 0 0 2px;
  border-bottom: 4px solid $gray4;
  
  > li {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
  }
  
  > li + li {
    border-top: 2px solid $light-gray; 
  }
  
  > li > a {
    display: block;
    line-height: 45px;
    color: $text-gray;
    text-decoration: none;
  }
}

.sm-link {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  color: $gray2;
  
  > span {
    margin-right: 4px;
    font-size: 15px;
    color: white;
  }
  
  .fa { color: white; }
  &:nth-child(1) .fa-circle { color: #00b0fa; } 
  &:nth-child(2) .fa-circle { color: #1f5e94; }
  &:nth-child(3) .fa-circle { color: #d74e3e; }
  &:nth-child(4) .fa-github { color: black; font-size: 2em; }
}

.drawer-open .backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: .5;
  z-index: 99;
}

.slack-form {
  margin-bottom: 10px;
  
  .form-group {
    position: relative;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    
    > label,
    > input {
      position: absolute;
      top: 0;
      transition: transform .4s ease;
    }
    
    > label {
      width: 100%;
      left: 0;
      padding-left: 34px;
      line-height: 30px;
      color: $gray2;
      text-transform: uppercase;
      letter-spacing: 2px;
      z-index: 1;
      cursor: pointer;
    }
    
    > input {
      height: 100%;
      left: 30px;
      padding: 2px 4px;
      z-index: 0;
      border: none;
      font-size: 12px;
      transform: translateY(-100%);
      outline: none;
      
      &:focus {
        border-bottom: 1px solid $gray3;
        transform: translateY(0);
      }
      
      &::-webkit-input-placeholder {
        color: transparent;
      }
      
      &:focus::-webkit-input-placeholder {
        color: $text-gray;
      }
    }
    
    > input:focus ~ label {
      transform: translateY(100%);
    }
    
    .fa-slack {
      margin-right: 4px;
      color: #5D3A58;
      font-size: 2.5em;
      vertical-align: middle;
    }
    
    .input-group-addon {
      display: none;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .nav-menu,
  .button-open, 
  .button-close,
  .backdrop { 
    display: none; 
  }
  
  .motto,
  .main-menu { 
    display: block; 
  }
  
  .slack-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 1px solid $light-gray;
    padding-right: 30px;
    margin-bottom: 0;
    order: 0;
    
    .form-group {
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 10px;
      
      > label,
      > input {
        position: static;
        transform: translateY(0);
      }
      
      > label {
        padding-left: 0;
        margin-right: 4px;
        order: 1;
        letter-spacing: normal;
      }
      
      > input {
        padding: 6px 8px;
        border: 1px solid $gray2;
        border-radius: 3px;
        order: 2;
        
        &::-webkit-input-placeholder,
        &:focus::-webkit-input-placeholder {
          color: $gray2;
        }
        
        &:focus ~ label {
          transform: translateY(0);
        }
      }
    }
  }
  
  .nav-social {
    flex-flow: row nowrap;
    position: static;
    width: 100%;
    padding: 10px 0;
    border-right: none;
    border-bottom: 1px solid $light-gray;
    transform: translateX(0);
    transition: none;
    
    > .slack-form,
    > .social-icons { flex: 1; }
  }
  
  .social-icons {
    display: flex;
    padding-left: 30px;
    justify-content: space-between;
  }
  
  .sm-link {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 0;
    font-size: 10px;
    letter-spacing: normal;
    
    > span { font-size: 2em; }
  }
  
  .logo-menu,
  .sticky .logo-menu {
    position: static;
    height: auto;
    padding: 10px 0;
    border-bottom: none;
    
    > img {
      height: 50px; 
      order: 0;   
    }
  }
  
  .motto { 
    padding: 0 15px;
    flex-basis: 30%;
    
    > header {
      white-space: nowrap;
    }
  }  
  
  .main-menu {
    flex: 1;
    text-align: right;
    padding-right: 15px;
    
    > a {
      font-size: 18px;
      color: $bg2;
      text-decoration: none;
    }
    
    > a + a { margin-left: 15px; }
  }
}

@media (min-width: $screen-md-min) {
  .sm-link {
    flex-direction: row;
  }
}