.next-event {
  .event-img img {
    width: 100%;
    vertical-align: middle;
  }
  
  > .header,
  .description,
  .venue {
    display: none;
  }
  
  .event-info,
  .details,
  footer { // TODO: Use class
    padding: 0 15px;
  }
  
  footer { // TODO: Use class
   text-align: center;
  }
  
  &.summer {
    article {
      background: url(http://images.winnipegdotnet.org.s3.amazonaws.com/events/summer.jpeg);
      height: 600px;
    }
    .text {
      margin: auto;
      transform: rotate(-5deg);
      color:white;
      font-size: 1.7em;
      text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    }
    .message {
      font-size: 5em;
      font-family: impact;
      text-shadow: 5px 5px 0 rgb(255,210,23) , 10px 10px 0 rgb(90,199,255) , 15px 14px 0 rgb(255,210,23) , 20px 20px 0 rgb(90,199,255) ;
      atext-shadow: 0 1px 0 #ccc,
                   0 2px 0 #c9c9c9,
                   0 3px 0 #bbb,
                   0 4px 0 #b9b9b9,
                   0 5px 0 #aaa,
                   0 6px 1px rgba(0,0,0,.1),
                   0 0 5px rgba(0,0,0,.1),
                   0 1px 3px rgba(0,0,0,.3),
                   0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.25),
                   0 10px 10px rgba(0,0,0,.2),
                   0 20px 20px rgba(0,0,0,.15);
    }
    .back-in-sep {
      font-size: 2em;
      font-family: cursive;
    }
    .signature {
      font-size: 1em;
      font-family: monospace;
      text-align: right;
      color: #5ac7ff;
      text-shadow: 6px 6px 0px rgba(255,210,23,0.9);
    }
  }

  &.-empty {
    
    > article {
      display: block;
      position: relative;
    }
    
    > article > img {
      width: 100%;
      display: block;
      margin: 15px auto;
    }
    
    .placeholder {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, 0) rotate(-5deg);
      padding-left: 9%;
      max-width: 30%;
      transform-origin: center;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .next-event {
    > .header {
      display: flex;
    }
    
    .event-info,
    .details,
    footer { // TODO: Use class
      padding: 0 30px;
    }
    
    .description,
    .venue {
      display: block;
    }
    
    .icon { 
      min-width: 26px;
      text-align: center;
      vertical-align: middle;
       
      > .fa { font-size: 2em; }
    }
    
    .venue {
      display: flex;
      flex-flow: column wrap;
      height: 3em;
    }
    
    .name,
    .address { 
      width: calc(100% - 34px); 
    }
    
    &.-empty {
      article > img {
        max-width: 70%;
      }
      
      .placeholder {
        top: 34%;
        padding-left: 7%;
        max-width: 24%;
      }
    }
  } 
}

@media (min-width: $screen-md-min) {
  .next-event {
    > article {
      display: flex;
      flex-flow: row wrap;
      position: relative;
    }    
    
    .event-img,
    .event-info,
    .details,
    .presenter {
      width: 50%;
    }
    
    .event-img,
    .event-info {
      padding-top: 20px;
    }
    
    .event-img {
      padding-bottom: 10px;
    }
    
    .details {
      margin-top: 20px;
    }
    
    .description > p {
      margin-top: .5em;
      margin-bottom: .5em;
    }
    
    // pseudo presenter text
    .description > p:last-child {
      width: 50%;
      position: absolute;
      bottom: 100px;
      left: 0;
      margin: 0;
      padding-left: 15px;
      font-style: italic;
    }
    
    footer {
      width: 100%;
      height: 100px;
    }
  }
}
