.next-event {
  .event-img img {
    width: 100%;
    vertical-align: middle;
  }
  
  > .header,
  .description,
  .venue {
    display: none;
  }
  
  .event-info,
  .details,
  footer { // TODO: Use class
    padding: 0 15px;
  }
  
  footer { // TODO: Use class
   text-align: center;
  }
  
  &.-empty {
    
    > article {
      display: block;
      position: relative;
    }
    
    > article > img {
      width: 100%;
      display: block;
      margin: 15px auto;
    }
    
    .placeholder {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, 0) rotate(-5deg);
      padding-left: 9%;
      max-width: 30%;
      transform-origin: center;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .next-event {
    > .header {
      display: flex;
    }
    
    .event-info,
    .details,
    footer { // TODO: Use class
      padding: 0 30px;
    }
    
    .description,
    .venue {
      display: block;
    }
    
    .icon { 
      min-width: 26px;
      text-align: center;
      vertical-align: middle;
       
      > .fa { font-size: 2em; }
    }
    
    .venue {
      display: flex;
      flex-flow: column wrap;
      height: 3em;
    }
    
    .name,
    .address { 
      width: calc(100% - 34px); 
    }
    
    &.-empty {
      article > img {
        max-width: 70%;
      }
      
      .placeholder {
        top: 34%;
        padding-left: 7%;
        max-width: 24%;
      }
    }
  } 
}

@media (min-width: $screen-md-min) {
  .next-event {
    > article {
      display: flex;
      flex-flow: row wrap;
      position: relative;
    }    
    
    .event-img,
    .event-info,
    .details,
    .presenter {
      width: 50%;
    }
    
    .event-img,
    .event-info {
      padding-top: 20px;
    }
    
    .event-img {
      padding-bottom: 10px;
    }
    
    // pseudo presenter text
    .description > p:last-child {
      width: 50%;
      position: absolute;
      bottom: 100px;
      left: 0;
      padding: 0 15px;
    }
    
    footer {
      width: 100%;
      height: 100px;
    }
  }
}