*,
:after,
:before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background: white;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  position: relative;

  &:before { 
    content: ""; 
    display: table;
  }
  
  > header + section {
    margin-top: 70px;
  }
}

img {
  max-width: 100%;
}

.loading {
  @extend %h-center;
  
  .next-event &,
  .past-events & {
    min-height: 200px;
  }
}

.sponsors > article {
  display: flex;
  flex-flow: row wrap;
}

a[id]::before {
  content: "";
  display: block;
  height: 56px;
  margin: -56px 0 0;
}

.past-events > footer { 
  text-align: center; 
}

.list-n-twitter {
  z-index: 2;
  position: relative;
}

.sponsors {
  z-index: 1;
  position: relative;
  background-color: white;
}

.main-footer {
  background: $gray5;
  color: white;
  text-align: center;
  padding: 40px 10px 20px;
  
  a { color: white; text-decoration: none; }
  a + a { margin-left: 20px; }
  
  .menu {
    border-bottom: 1px solid $text-gray;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: $screen-sm-min) { 
  .container > header {
    padding: 0 15px;
    
    & + section {
      margin-top: 0;
    }
  }
  
  .past-events > article,
  .featured-videos > article,
  .sponsors > article,
  .list-n-twitter,
  .members {
    display: flex;
  }
  
  .past-events {
    > article { 
      padding: 15px 12.5px 0; 
    }
    
    > footer {
      padding-bottom: 15px;
    }
  }
  
  .featured-videos {
    background: $gray1;
    padding-top: 15px;
    
    > article {
      padding: 15px 0;
      flex-wrap: wrap;
      justify-content: space-between;
      background: white;
    }
  }
  
  .list-n-twitter {
    background: $gray1;
    padding: 15px 0;
    justify-content: center; 
  }
    
  .subscribe,
  .twitter-stream { 
    width: 50%;
    max-width: $max-width/2;
    
    > iframe {
      display: block !important;
      width: 100% !important;
    }
  }
  
  .sponsors {   
    > article {
      padding: 0 15px;
    }
  }
  
  .members {
    justify-content: space-around;
  }
}

@media (min-width: $screen-md-min) { 
  .container > header,
  .next-event > article,
  .past-events > article,
  .featured-videos > header,
  .featured-videos > article,
  .sponsors > article,
  .contact-us > article {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }
}