%h-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%pad-left {
  padding-left: 7.5px;
  padding-right: 0;
}

%pad-right {
  padding-left: 0;
  padding-right: 7.5px;
}

@mixin font($size, $line-height, $margin-bottom) {
  font-size: $size;
  line-height: $line-height;
  margin-bottom: $margin-bottom;
}

img.wide { 
  width: 100%; 
}

.icon {
  display: inline-block;
  min-width: 16px;
  margin-right: 8px;
}
