html, body {
  margin: 0;
  background: white;
  font-family: 'Montserrat', sans-serif;
}

$light-gray: #f4f4f4;
$title-gray: #121212;
$text-gray: #444444;
$greenish: #50e3c2;
$header-blue: #263c61;
$event-blue-background: #0e1e38;


.nav-social,
.slack-form,
.motto,
.main-menu,
.next-event header,
.next-event label,
.next-event .description,
.next-event .venue,
.subscribe > .signup,
.subscribe > .schedule,
.contact-us .message {
  display: none;
}

img { max-width: 100%; }
.container { padding: 0; }


// Typography
.title,
.subscribe > header {
  line-height: 1.2;
}
.motto {
  > header { 
    color: $title-gray; 
    font-size:18px; 
  }
  
  .description { 
    color: #c7cbcc; 
    font-size:13px; 
  }
}
.signup,
.schedule {
  margin-bottom: 1em;
}


// Header
.logo-menu {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  color: $greenish;
  transition: height 0.4s ease;
  z-index: 98;
    
  > img {
    order: 2;
    height: 40px;
    transition: height 0.4s ease;
  }
  
  > .button-open {
    margin: 0;
    color: $greenish;
    font-size: 30px;
    
    &:hover { cursor: pointer; }    
  }
  
  .sticky & {
    height: 55px;
    border-bottom: 1px solid $light-gray;
    
    img {
      height: 30px;
    }
  }
}


// Buttons
.flat-btn {
  background: $greenish;
  color: white ;
  border-radius: 25px;
  text-transform: uppercase;
  margin: 15px 0 30px;
  padding: 10px;
  min-width: 180px;
  display: inline-block;
  letter-spacing: 2px;
  border: none;
  
  &:visited, &:hover { text-decoration: none; }
}

.border-btn {
  @extend .flat-btn;
  background: transparent;
  color: $greenish;
  border: 1px solid $greenish;
}

.next-event footer,
.past-events footer {
  text-align: center;
}
.next-event footer a,
.past-events footer a{
  @extend .flat-btn;
}
.subscribe footer a { 
  @extend .border-btn;
}
.member .contact a {
  @extend .border-btn; 
  color:white;
  border-color: white;
  font-size: 10px;
}

.info .view {  
  margin-top: 20px;
  font-size: 12px;
  
  a {
    &:hover { text-decoration: none; }
    color: $greenish;
    border: 1px solid $greenish;
    border-radius: 15px;
    background: transparent;
    padding: 5px 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: inline-block;
  }
}


// Common
.icon {
  font-size: 1.125em;
  min-width: 1.4em;
  display: inline-block;
}

.event-header,
.contact-us > header,
.sponsors > header {
  background: $header-blue;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
  height: 45px;
  line-height: 45px;
}

a[id]::before {
  content: ""; 
  display: block;
  height: 70px;
  margin: -70px 0 0;
}

.nav-social { 
  display: block; 
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  min-width: 240px;
  height: 150%;
  z-index: 100;
  padding: 0 15px;
  background: white;
  transform: translateX(-100%);
  transition: all 0.4s ease;
  border-right: 1px solid #777;
  
  > .button-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: $greenish;
  }
  
  .drawer-open & { transform: translateX(0); }
}

.nav-menu {
  margin: 70px 0 20px;
  padding: 0 0 2px;
  border-bottom: 4px solid #555;
  
  > li {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    
    > a {
      line-height: 50px;
      display: block;
      color: $text-gray;
    }
    
    & + li { border-top: 2px solid $light-gray;}
  }
}

.sm-link {
  display: block;
  margin-bottom: 10px;
  color: #c7cbcc;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;

  .fa-stack {
    color: white;
    margin-right: 4px;
    
    .fa-github { color: black; font-size: 2em; }
  }
  
  .fa-2x { font-size: 15px; }

  &:nth-child(1) i.fa-circle { color: #00b0fa; }
  &:nth-child(2) i.fa-circle { color: #1f5e94; }
  &:nth-child(3) i.fa-circle { color: #d74e3e; }
}

.drawer-open .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: .5;
  z-index: 99;
  transition: all 0.4s ease;
}


// Sections
.next-event {
  margin-top: 70px;
   
  .title {
    margin: 15px 0;
    padding: 0 0 15px;
    border-bottom: 2px solid $light-gray;
    color: $title-gray;
    font-size: 30px; 
  }
  
  .event-img img { width: 100%; }
  .event-info { margin: 0 30px; color: $text-gray; }
  .date { font-weight: bold; }  
}


.past-events {
  > article {
    display: flex;
    flex-flow: column wrap;
  }
}
.past-event {
  display: flex;
  padding: 15px 0;
  
  .image {
    padding: 0 7.5px 0 0;
    img { width: 100%; background-color: white; }
  }
  
  .info { 
    display: flex;
    padding: 0 0 0 7.5px; 
    flex-flow: column nowrap;
    justify-content: center;
  }
  
  .image,
  .info { 
    width: 50%;
  }
  
  .title { font-size: 15px; }
  .date { color: #737a94; font-size: 12px; }
    
  &:nth-child(even) {
    text-align: right;
    .info { padding: 0 7.5px 0 0; }
    .image { order: 2; padding: 0 0 0 7.5px; }
  }
  & + .past-event { border-top: 1px solid $light-gray;}  
}


.list-n-twitter {
  background: #eee;
  display: flex;
  flex-wrap: wrap;

  .subscribe,.twitter-stream {
    flex: 0 0 100%;
  }

  .twitter-stream {
    .twitter-timeline {
      width: 100% !important;

      html body .timeline-Widget {
        width:100%;
        max-width: 100%;
      }
    }
  }
}
.subscribe {
  background: $event-blue-background;
  color: white;
  text-align: center;
  padding: 30px 15px;
 
  > header { font-size: 28px; margin-bottom: 15px; }
  .signup { font-size: 16px; color: #9ca8b4; }
  .schedule { color: #2c8188; }
}


.sponsors {
  > article {
    display: flex;
    padding: 30px 0;
    flex-wrap: wrap;
    align-items: center;
    
  }
}  
.sponsor {
  width: 50%;
  display: flex;
  margin-bottom: 15px;
  text-align: center;
  
  a { flex: 1; }
  img { filter: grayscale(100%); max-height: 50px; width: auto; }
  a:hover img { filter: grayscale(0); }
}


.contact-us {  
  .message {
    color: #080808;
    padding: 1.5em 15px;
    font-size: 20px;
    text-align: center;
  }

  .members {
    display: flex;
    flex-flow: column wrap;
  }
}
.member {
  padding: 15px 30px;
  box-shadow: 0 8px 24px -6px #222;
  background: #0d1e38;
  color:white;
  text-align: center;
  
  &:nth-child(odd) img { float: left; }
  &:nth-child(even) img { float: right; }
  &:nth-child(1) {z-index: 3; }
  &:nth-child(2) {z-index: 2; background: #11414f;}
  &:nth-child(3) { background: #00666a; }    
  .name { text-transform: uppercase; font-weight: bold; }
  img { border-radius: 50%; }
  
  &:nth-child(odd) img ~ * { margin-left: 110px; }
  &:nth-child(even) img ~ *{ margin-right: 110px; }
}


.featured-videos {
  border: 15px solid #eee;
  
  > header {
    padding: 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    
    .title {
        color: #373737; 
        font-size: 20px;
    }
    
    a {
      flex: 1 0 auto;
      color: #8d8e90;
      text-transform: uppercase;
      text-align: right;
    }
    
    .fa { 
      color: #e54432; 
      font-size: 2em;
      margin-right: 5px; 
      vertical-align: middle;
    }
  }
  
  > article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
  }

  .video {
    width: 100%;
    margin-bottom: 30px;

    .descr {
      color: #a8a8a8;
      font-size: 13px;
      padding: 15px 0;
      text-align: justify;
      line-height: 1.8em;
    }
    
    img { width: 100%; }
  } 
}

.main-footer {
  background: #3c3d41;
  color: white;
  text-align: center;
  padding: 50px 0 20px;

  .menu {
    border-bottom: 1px solid #45464a;
    padding-bottom: 20px;
    margin-bottom: 10px;

    a { 
      color: white;
      font-size: 14px; 

      & + a { margin-left: 20px; }
    }
  }

  .copyright
  .version { color: #8c8d91; }
}



@media (min-width: 544px) {
    .sponsors article .sponsor { width: 33.33%; }
}


@media (min-width: 768px) {
  .motto,
  .slack-form,
  .next-event .event-header,
  .next-event .description, 
  .next-event .venue,
  .next-event label,
  .subscribe .signup,
  .subscribe .schedule,
  .contact-us .message {
    display: block;
  }
  .nav-social,
  .main-menu,
  .next-event > article {
    display: flex;
  }
  .nav-menu,
  .logo-menu > .button-open,
  .nav-social > .button-close,
  a[id]::before,
  .backdrop {
    display: none;
  }
  
  .icon { font-size: 2em; }

  .nav-social {
    position: static;
    padding: 10px 0;
    width: 100%;
    background: none;
    border-right: none;
    border-bottom: 1px solid $light-gray;
    box-shadow: none;
    transform: translateX(0);
  }
  .slack-form, 
  .social-icons {
    flex: 1;
  }
  .slack-form {
    padding-right: 30px;
    text-align: right; 
  }  
  .slack-form label {
    margin-right: 15px; 
    i { margin-right: 5px; }
  }
  .social-icons {
    display: flex;
    padding-left: 30px;
    border-left: 1px solid #f4f4f4;
  }
  .sm-link {
    display: flex;
    margin-bottom: 0;
    flex: 1;
    flex-flow: column wrap;
    align-items: center;
    font-size: 10px;
    letter-spacing: normal;
    
    .fa-2x { font-size: 2em; }
  }
  
  .logo-menu {
    position: static;
    width: auto;
    height: 97px;
    margin: 0;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    
    .motto {
      padding-left: 15px;
      flex: 1;
    }
    
    > label { display: none;}
    img { order: 0; height: 50px; }
    img, .motto, .main-menu { width: auto; }
    
    .sticky & {
      height: 97px;
      border-bottom: none;
      
      img { height: 50px; }
    }
  }
  .main-menu {
    text-align: right;
    
    a {
      font-size: 18px;
      color: #11414f;
      
      & + a { margin-left: 20px; }
    }  
  }


  .next-event {
    margin-top: 0;
    
    .event-img, 
    .event-info { width: 50%; }
    
    .event-info {
      padding: 0 30px 0;
      margin: 0;    
    }
    
    .description {
      font-size: 13px;
      text-align: justify;
    }
    
    .description,
    .venue { margin-bottom: 15px; }
    
    .name { 
      margin-right: 1em;
      font-weight: bold; 
    }
    
    label {
      margin-bottom: 14px;
      font-size: 12px;
      text-transform: uppercase;
    }
    
    .venue { 
      clear: left;  
      .icon { float: left; } 
    }
    
    .icon { vertical-align: middle;}
  }


  .past-events > article {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 0;
  }
  .past-event {
    width: 25%;
    max-width: 250px;
    padding: 0 7.5px;
    flex-flow: column nowrap;
    text-align: center;
    
    &:nth-child(even) { 
      text-align: center;
      
      .info { order: 2; }
      .image { padding: 0; }
    }
    
    & + .past-event { border: none; }
    &:first-child { margin-left: -7.5px; }
    &:last-child { margin-right: -7.5px; }
    
    .image,
    .info {
      width: 100%;
      padding: 0;
      background: $event-blue-background;
      color: white;
    }
    
    .info {
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
    }
    
    .view { 
      padding-bottom: 15px;
      
      a {
        color: white;    
        border: 1px solid #b3bbc6;
      } 
    }
    
    .info { padding: 0; }
    .title { padding: 15px 10px .5em; }
    .date { flex-grow: 1; } 
  }


  .list-n-twitter {
    padding: 15px;
    
    .subscribe, 
    .twitter-stream { flex: 1; }
  }
  
  
  .contact-us {
    background: #eee;
     
    .members {
      flex-flow: row nowrap;
      justify-content: center;
      padding-bottom: 30px;
    }
    .member {
      max-width: 230px;
      box-shadow: none;
      
      img { float: none ; }
      img ~ * { margin-left: 0; margin-right: 0;}
      & + .member { margin-left: 30px; }
    }
  }

  
  .featured-videos {
    .video {
      width: 50%;
      padding: 0 15px;
    }
    
    > header {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}


@media (min-width: 992px) {  
  .container > header,
  .next-event > article,
  .past-events > article,
  .featured-videos > header,
  .featured-videos > article,
  .sponsors > article,
  .contact-us > article {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
  
  .next-event {
    position: relative;
    
    .event-img > img {
      position: absolute;
      top: 45px;
      left: 0;
      width: 50%;
    }
    
    .event-info { padding-right: 0; }
    > article { display: flex; }
  }
  
  .past-event {
      .title { font-size: 17px; }
  }
  
  .sponsors article .sponsor { flex: 1; }
  
  .sm-link { 
    flex-flow: row nowrap;
    &:last-child { flex: 0; } 
  }
}
@media (min-width: 1200px) {
  .featured-videos {
    > header,
    > article {
      padding-left: 0;
      padding-right: 0;
    }
    
    .video { 
      width: auto;
      flex: 1;
      padding: 0;
      margin: 0 15px;
      
      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    } 
  }
}
@media (min-width: 1600px) {
  .container { width: 1450px; }
}


// Development
.event-img,
.placeholder {
  background-color: #ddd;
  background-image: 
    repeating-linear-gradient(45deg, transparent, transparent 15px, 
      rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
}

.dev
,.nav-social
,.logo-menu
,.next-event
,.past-events
,.featured-videos
,.subscribe
,.twitter-stream
,.sponsors
,.contact-us
,.main-footer 
{
//  display: none !important;
}

//img { visibility: hidden !important;}