$light-gray:            #f4f4f4;
$title-gray:            #121212;
$text-gray:             #444;
$greenish:              #50e3c2;
$header-blue:           #263c61;
$event-blue-background: #0e1e38;

$gray1: #eee;
$gray2: #c7cbcc;
$gray3: #9ca8b4;
$gray4: #737a94;
$gray5: #3c3d41;
$bg1: #2c8188;
$bg2: #11414f;
$bg3: #00666a;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$max-width: 1200px;

@import "mixins";
@import "layout";
@import "typography";

@import "component.header";
@import "component.button";
@import "component.nextevent";
@import "component.pastevent";
@import "component.video";
@import "component.subscribe";
@import "component.sponsor";
@import "component.contact";